
@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
	font-family: 微軟正黑體;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  
}

.background {
  background-color: #CCEEFF;
}

#header {
	background-color: #CCEEFF;
	padding: 5px 0px 30px 0px; /*上右下左*/
	text-align: center;
}

#myInput {
	font-family: 'Montserrat', 微軟正黑體;
	font-size: 15px;
}

.memoBtn {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
  border-radius: 5px;
  text-align: center;
  padding: 5px 10px 5px 10px;
  font-family: 'Mansalva';
  font-size: 15px;
  transition-duration: 0.4s;
}

.memoBtn:hover {
  background-color: #008CBA;
  color: rgb(212, 163, 163);
}

ul {
	font-family: 'Montserrat', 微軟正黑體;
}

ul li {
	padding: 10px;
	font-size: 18px;
}

ul li:nth-child(even) {
  background: #F0F8FF;
}

ul li:nth-child(odd) {
  background: #F0FFFF;
}

ul li:hover {
  background: beige;
}

.category {
	padding-top: 15px;
	font-size: 20px;
	font-weight: bold;
}

ul li.checked {
  background: #ddd;
  text-decoration: line-through;
}